<section class="posts-container">
  <section class="posts">
    <% @posts.each do |post| %>
      <p><%= post.content %></p>
      <div class="posts-info">
       <small><%= time_ago_in_words(post.created_at) %></small>
       <small>
         <%= link_to post_path(post) do %>
          <%= post.comments.count %> Replies
         <% end %>
       </small>
       <small>votes: <%= post.total_votes %></small>
      </div>
      <hr>
    <% end %>
  </section>
</section>
