<section class="post-show-container">
  <section class="post-show-box">
    <p><%= @post.content %></p>

    <p><%= link_to "Back", posts_path %>
    <p><%= link_to "Delete", post_path(@post), method: :delete if current_user == @post.user%></p>
    
    <% if current_user.voted?(@post) %>
      <p>Already voted by you</p>
    <% else %>
      <%= link_to "Upvote", vote_for_post_path(@post), method: :post, class: 'button' %>
    <% end %>
    <hr>

    <%= render 'comments/form' %>

    <%= render 'comments/comments' %>

  </section>
</section>


